<!-- EJS file to display the content for the users profile.  -->

<h3 class="heading">profile</h3>
<div id="profilePic">	
	<% if(userPic) { %><img class="materialboxed" width="75" src="<%= userPic %>"><% } %>
</div>

<a class="waves-effect waves-light btn" href="/profile/settings">settings</a>

<% if(whisky.length > 0){ %>
	<h5>Favorite Whiskies</h5>
	<ul class="collapsible popout" data-collapsible="accordion">
	    <% whisky.forEach(function(whisky){ %>
	    <li>
	      	<div class="collapsible-header"><i class="material-icons">whatshot</i><%= whisky.name %></div>
	      	<div class="collapsible-body"><p><%= whisky.tasting %></p>
	      		<div class="row">
			    	<div class="row"> 
			      		<form method="POST" class="col s6">
			        		<div class="row">
			          			<div class="input-field col s6">
			            			<input name="tag" id="input_text" type="text">
			            			<label for="input_text">Tag</label>
			            			<input type="hidden" name="whiskyName" value="<%= whisky.name %>" />
			          			</div>
			        		</div>
			      		</form>
			    	</div>
				</div>
				<p><% whisky.tags.forEach(function(tag){ %>
					<%= tag.tag %>, 
				<% }); %></p>
				<form class=".delete-link" action="/profile/<%= whisky.id %>/delete">
					<button class="btn waves-effect waves-light" type="delete" name="action">Delete
						<i class="material-icons right">send</i>
					</button>
				</form>
			</div>
			
		</li>
		<% }); %>
	</ul>
<% } else { %>
	<h5>Add some Whiskies to your favorites to see them here</h5>
<% } %>