<!-- EJS file to display the content for the users profile.  -->

<!-- div holding the profile picture and heading. ejs tags hold conditional code to display the profile picture
only if it exists -->
<div class="col-md-12">
	<div id="profilePic">	
		<% if(userPic) { %><img class="materialboxed" width="75" src="<%= userPic %>"><% } %>
	</div>
	<div id="profileHeading">
		<h3 class="heading">profile</h3>
	</div>
</div>

<!-- button to take the user to the settings page -->
<a style="color:#FAEBD7" class="waves-effect waves-light btn brown darken-4" href="/profile/settings">settings</a>

<!-- Accordion which displays after the user adds whisky to their favorite list. ejs tags contain the conditional
code that displayes the accordion or text asking the user to add whiky's to their favorites to see them displayed -->
<% if(whisky.length > 0){ %>
	<h5>Favorite Whiskies</h5>
	<ul class="collapsible popout" data-collapsible="accordion">
	    <% whisky.forEach(function(whisky){ %>
	    <li>
	      	<div class="collapsible-header"><i class="material-icons">whatshot</i><%= whisky.name %></div>
	      	<div class="collapsible-body"><p><%= whisky.tasting %></p>
	      		<div class="row">
			    	<div class="row"> 
			      		<form method="POST" class="col s6">
			        		<div class="row">
			          			<div class="input-field col s6">
			            			<input name="tag" id="input_text" type="text">
			            			<label for="input_text">Tag</label>
			            			<input type="hidden" name="whiskyName" value="<%= whisky.name %>" />
			          			</div>
			        		</div>
			      		</form>
			    	</div>
				</div>
				<p><% whisky.tags.forEach(function(tag){ %>
					<%= tag.tag %>, 
				<% }); %></p>
				<form class=".delete-link" action="/profile/<%= whisky.id %>/delete">
					<button style="color:#FAEBD7" class="btn waves-effect waves-light brown darken-4" type="delete" name="action">Delete
						<i class="material-icons right">send</i>
					</button>
				</form>
			</div>
			
		</li>
		<% }); %>
	</ul>
<% } else { %>
	<h5>Add some Whiskies to your favorites to see them here</h5>
<% } %>