<!-- Whisky page which displays the dropdown menu the user can select from along with a field to display the 
information about bottlings and tasting notes that was scrapped on the main index page. In addition there is
a carousel showing images from a flicker search that is context relivent.-->

<div>
	<h3 class="heading">whisky - <%= whiskyName %></h3>
	
</div>
<form class="whiskyMenu">
	<a style="color:#FAEBD7" class='dropdown-button btn brown darken-4' href='#' data-activates='dropdown1'>Select a Whisky from this drop down list <i class="material-icons dp48">list</i></a>
	<ul style="background-color:#FAEBD7" id='dropdown1' class='dropdown-content'>
	    <li><a class="black-text" href="/whisky/aberfeldy/select">Aberfeldy</a></li>
        <li><a class="black-text" href="/whisky/aberlour/select">Aberlour</a></li>
        <li><a class="black-text" href="/whisky/abhainndearg/select">Abhainn Dearg</a></li>
        <li><a class="black-text" href="/whisky/ailsabay/select">Ailsa Bay</a></li>
        <li><a class="black-text" href="/whisky/allt-a-bhainne/select">Allt-a-Bhainne</a></li>
        <li><a class="black-text" href="/whisky/an-cnoc/select">An Cnoc</a></li>
        <li><a class="black-text" href="/whisky/ardbeg/select">Ardbeg</a></li>
        <li><a class="black-text" href="/whisky/ardmore/select">Ardmore</a></li>
        <li><a class="black-text" href="/whisky/arran/select">Arran</a></li>
        <li><a class="black-text" href="/whisky/auchentoshan/select">Auchentoshan</a></li>
        <li><a class="black-text" href="/whisky/singleton-of-auchroisk/select">Auchroisk</a></li>
        <li><a class="black-text" href="/whisky/aultmore/select">Aultmore</a></li>
        <li><a class="black-text" href="/whisky/balblair/select">Balblair</a></li>
        <li><a class="black-text" href="/whisky/balmenach/select">Balmenach</a></li>
        <li><a class="black-text" href="/whisky/balvenie/select">Balvenie</a></li>
        <li><a class="black-text" href="/whisky/ben-nevis/select">Ben Nevis</a></li>
        <li><a class="black-text" href="/whisky/benriach/select">BenRiach</a></li>
        <li><a class="black-text" href="/whisky/benrinnes/select">Benrinnes</a></li>
        <li><a class="black-text" href="/whisky/benromach/select">Benromach</a></li>
        <li><a class="black-text" href="/whisky/bladnoch/select">Bladnoch</a></li>
        <li><a class="black-text" href="/whisky/blair-athol/select">Blair Athol</a></li>
        <li><a class="black-text" href="/whisky/bowmore/select">Bowmore</a></li>
        <li><a class="black-text" href="/whisky/braeval/select">Braeval</a></li>
        <li><a class="black-text" href="/whisky/bruichladdich/select">Bruichladdich</a></li>
        <li><a class="black-text" href="/whisky/bunnahabhain/select">Bunnahabhain</a></li>
        <li><a class="black-text" href="/whisky/caol-ila/select">Caol Ila</a></li>
        <li><a class="black-text" href="/whisky/cardhu/select">Cardhu</a></li>
        <li><a class="black-text" href="/whisky/clynelish/select">Clynelish</a></li>
        <li><a class="black-text" href="/whisky/cragganmore/select">Cragganmore</a></li>
        <li><a class="black-text" href="/whisky/craigellachie/select">Craigellachie</a></li>
        <li><a class="black-text" href="/whisky/dailuaine/select">Dailuaine</a></li>
        <li><a class="black-text" href="/whisky/daftmill/select">Daftmill</a></li>
        <li><a class="black-text" href="/whisky/dalmore/select">Dalmore</a></li>
        <li><a class="black-text" href="/whisky/dalwhinnie/select">Dalwhinnie</a></li>
        <li><a class="black-text" href="/whisky/deanston/select">Deanston</a></li>
        <li><a class="black-text" href="/whisky/dufftown/select">Dufftown</a></li>
        <li><a class="black-text" href="/whisky/edradour/select">Edradour</a></li>
        <li><a class="black-text" href="/whisky/fettercairn/select">Fettercairn</a></li>
        <li><a class="black-text" href="/whisky/glenallachie/select">Glenallachie</a></li>
        <li><a class="black-text" href="/whisky/glenburgie/select">Glenburgie</a></li>
        <li><a class="black-text" href="/whisky/glencadam/select">Glencadam</a></li>
        <li><a class="black-text" href="/whisky/glen-deveron/select">Glen Deveron</a></li>
        <li><a class="black-text" href="/whisky/glendronach/select">Glendronach</a></li>
        <li><a class="black-text" href="/whisky/glendullan/select">Glendullan</a></li>
        <li><a class="black-text" href="/whisky/glenelgin/select">Glen Elgin</a></li>
        <li><a class="black-text" href="/whisky/glenfarclas/select">Glenfarclas</a></li>
        <li><a class="black-text" href="/whisky/glenfiddich/select">Glenfiddich</a></li>
        <li><a class="black-text" href="/whisky/glen-garioch/select">Glen Garioch</a></li>
        <li><a class="black-text" href="/whisky/glenglassaugh/select">Glenglassaugh</a></li>
        <li><a class="black-text" href="/whisky/glengoyne/select">Glengoyne</a></li>
        <li><a class="black-text" href="/whisky/glen-grant/select">Glen Grant</a></li>
        <li><a class="black-text" href="/whisky/glenkinchie/select">Glenkinchie</a></li>
        <li><a class="black-text" href="/whisky/glenlivet/select">Glenlivet</a></li>
        <li><a class="black-text" href="/whisky/glenlossie/select">Glenlossie</a></li>
        <li><a class="black-text" href="/whisky/glenmorangie/select">Glenmorangie</a></li>
        <li><a class="black-text" href="/whisky/glen-moray/select">Glen Moray</a></li>
        <li><a class="black-text" href="/whisky/glen-ord/select">Glen Ord</a></li>
        <li><a class="black-text" href="/whisky/glenrothes/select">Glenrothes</a></li>
        <li><a class="black-text" href="/whisky/glen-scotia/select">Glen Scotia</a></li>
        <li><a class="black-text" href="/whisky/glenspey/select">Glen Spey</a></li>
        <li><a class="black-text" href="/whisky/glentauchers/select">Glentauchers</a></li>
        <li><a class="black-text" href="/whisky/glenturret/select">Glenturret</a></li>
        <li><a class="black-text" href="/whisky/highland-park/select">Highland Park</a></li>
        <li><a class="black-text" href="/whisky/inchgower/select">Inchgower</a></li>
        <li><a class="black-text" href="/whisky/inchmurrin/select">Inchmurrin</a></li>
        <li><a class="black-text" href="/whisky/isle-of-jura/select">Isle Of Jura</a></li>
        <li><a class="black-text" href="/whisky/kilchoman/select">Kilchoman</a></li>
        <li><a class="black-text" href="/whisky/kilkerran/select">Kilkerran</a></li>
        <li><a class="black-text" href="/whisky/kininvie/select">Kininvie</a></li>
        <li><a class="black-text" href="/whisky/knockando/select">Knockando</a></li>
        <li><a class="black-text" href="/whisky/lagavulin/select">Lagavulin</a></li>
        <li><a class="black-text" href="/whisky/laphroaig/select">Laphroaig</a></li>
        <li><a class="black-text" href="/whisky/ledaig/select">Ledaig</a></li>
        <li><a class="black-text" href="/whisky/linkwood/select">Linkwood</a></li>
        <li><a class="black-text" href="/whisky/loch-lomond/select">Loch Lomond</a></li>
        <li><a class="black-text" href="/whisky/longmorn/select">Longmorn</a></li>
        <li><a class="black-text" href="/whisky/longrow/select">Longrow</a></li>
        <li><a class="black-text" href="/whisky/macallan/select">Macallan</a></li>
        <li><a class="black-text" href="/whisky/macduff/select">Macduff</a></li>
        <li><a class="black-text" href="/whisky/mannochmore/select">Mannochmore</a></li>
        <li><a class="black-text" href="/whisky/miltonduff/select">Miltonduff</a></li>
        <li><a class="black-text" href="/whisky/mortlach/select">Mortlach</a></li>
        <li><a class="black-text" href="/whisky/oban/select">Oban</a></li>
        <li><a class="black-text" href="/whisky/old-pulteney/select">Old Pulteney</a></li>
        <li><a class="black-text" href="/whisky/pittyvaich/select">Pittyvaich</a></li>
        <li><a class="black-text" href="/whisky/roseisle/select">Roseisle</a></li>
        <li><a class="black-text" href="/whisky/royal-brackla/select">Royal Brackla</a></li>
        <li><a class="black-text" href="/whisky/royal-lochnagar/select">Royal Lochnagar</a></li>
        <li><a class="black-text" href="/whisky/scapa/select">Scapa</a></li>
        <li><a class="black-text" href="/whisky/speyburn/select">Speyburn</a></li>
        <li><a class="black-text" href="/whisky/speyside/select">Speyside</a></li>
        <li><a class="black-text" href="/whisky/springbank/select">Springbank</a></li>
        <li><a class="black-text" href="/whisky/strathisla/select">Strathisla</a></li>
        <li><a class="black-text" href="/whisky/strathmill/select">Strathmill</a></li>
        <li><a class="black-text" href="/whisky/talisker/select">Talisker</a></li>
        <li><a class="black-text" href="/whisky/tamdhu/select">Tamdhu</a></li>
        <li><a class="black-text" href="/whisky/tamnavulin/select">Tamnavulin</a></li>
        <li><a class="black-text" href="/whisky/teaninich/select">Teaninich</a></li>
        <li><a class="black-text" href="/whisky/tobermory/select">Tobermory</a></li>
        <li><a class="black-text" href="/whisky/tomatin/select">Tomatin</a></li>
        <li><a class="black-text" href="/whisky/tomintoul/select">Tomintoul</a></li>
        <li><a class="black-text" href="/whisky/tormore/select">Tormore</a></li>
        <li><a class="black-text" href="/whisky/tullibardine/select">Tullibardine </a></li>
	</ul>
</form>

<!-- Add to favorites button -->
<form method="POST" class="col s6">
	<button onclick="Materialize.toast('Favorite Added', 4000)" style="color:#FAEBD7" class="btn waves-effect waves-light brown darken-4" type="submit" name="action">Add To Favorites
    		<i class="material-icons right">send</i>
  	</button>
  	<input type="hidden" name="name" value="<%= whiskyName %>" />
  	<input type="hidden" name="tastings" value="<%= tastings %>" />
</form>

<!-- Image bcrousel -->
<div class="slider brown darken-4">
    <ul class="slides brown darken-4">
      <li>
        <img src="https://farm<%= result.photos.photo[1].farm %>.staticflickr.com/<%= result.photos.photo[1].server %>/<%= result.photos.photo[1].id %>_<%= result.photos.photo[1].secret %>.jpg"> <!-- random image -->
       </li>
      <li>
        <img src="https://farm<%= result.photos.photo[2].farm %>.staticflickr.com/<%= result.photos.photo[2].server %>/<%= result.photos.photo[2].id %>_<%= result.photos.photo[2].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[3].farm %>.staticflickr.com/<%= result.photos.photo[3].server %>/<%= result.photos.photo[3].id %>_<%= result.photos.photo[3].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[4].farm %>.staticflickr.com/<%= result.photos.photo[4].server %>/<%= result.photos.photo[4].id %>_<%= result.photos.photo[4].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[5].farm %>.staticflickr.com/<%= result.photos.photo[5].server %>/<%= result.photos.photo[5].id %>_<%= result.photos.photo[5].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[6].farm %>.staticflickr.com/<%= result.photos.photo[6].server %>/<%= result.photos.photo[6].id %>_<%= result.photos.photo[6].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[7].farm %>.staticflickr.com/<%= result.photos.photo[7].server %>/<%= result.photos.photo[7].id %>_<%= result.photos.photo[7].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[8].farm %>.staticflickr.com/<%= result.photos.photo[8].server %>/<%= result.photos.photo[8].id %>_<%= result.photos.photo[8].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[9].farm %>.staticflickr.com/<%= result.photos.photo[9].server %>/<%= result.photos.photo[9].id %>_<%= result.photos.photo[9].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[10].farm %>.staticflickr.com/<%= result.photos.photo[10].server %>/<%= result.photos.photo[10].id %>_<%= result.photos.photo[10].secret %>.jpg"> <!-- random image -->
      </li>
    </ul>
</div>

<!-- Scrapped information on ages and tasting notes -->
<h5>Bottlings - </h5><br><p><% for (var key in bottlings){ %>
									<p><%= bottlings[key].textContent %></p>
						    <% } %><br>
<h5>Tastings - </h5><br><p><%= tastings %></p>
