<div>
	<h3>whisky - <%= whiskyName %></h3>
	
</div>
<form>
	<a class='dropdown-button btn' href='#' data-activates='dropdown1'>Select a Whisky from this drop down list</a>
	<ul id='dropdown1' class='dropdown-content'>
	    <li><a href="/whisky/aberfeldy">Aberfeldy</a></li>
	    <li><a href="/whisky/aberlour">Aberlour</a></li>
	    <li><a href="/whisky/abhainndearg">Abhainn Dearg</a></li>
	    <li><a href="/whisky/ailsabay">Ailsa Bay</a></li>
	    <li><a href="/whisky/allt-a-bhainne">Allt-a-Bhainne</a></li>
	    <li><a href="/whisky/an-cnoc">An Cnoc</a></li>
	    <li><a href="/whisky/ardbeg">Ardbeg</a></li>
	    <li><a href="/whisky/ardmore">Ardmore</a></li>
	    <li><a href="/whisky/arran">Arran</a></li>
	    <li><a href="/whisky/auchentoshan">Auchentoshan</a></li>
	    <li><a href="/whisky/auchroisk">Auchroisk</a></li>
	    <li><a href="/whisky/aultmore">Aultmore</a></li>
	    <li><a href="/whisky/balblair">Balblair</a></li>
	    <li><a href="/whisky/balmenach">Balmenach</a></li>
	    <li><a href="/whisky/balvenie">Balvenie</a></li>
	    <li><a href="/whisky/ben-nevis">Ben Nevis</a></li>
	    <li><a href="/whisky/benriach">BenRiach</a></li>
	    <li><a href="/whisky/benrinnes">Benrinnes</a></li>
	    <li><a href="/whisky/benromach">Benromach</a></li>
	    <li><a href="/whisky/bladnoch">Bladnoch</a></li>
	    <li><a href="/whisky/blair-athol">Blair Athol</a></li>
	    <li><a href="/whisky/bowmore">Bowmore</a></li>
	    <li><a href="/whisky/braeval">Braeval</a></li>
	    <li><a href="/whisky/bruichladdich">Bruichladdich</a></li>
	    <li><a href="/whisky/bunnahabhain">Bunnahabhain</a></li>
	    <li><a href="/whisky/caol-ila">Caol Ila</a></li>
	    <li><a href="/whisky/cardhu">Cardhu</a></li>
	    <li><a href="/whisky/clynelish">Clynelish</a></li>
	    <li><a href="/whisky/cragganmore">Cragganmore</a></li>
	    <li><a href="/whisky/craigellachie">Craigellachie</a></li>
	    <li><a href="/whisky/dailuaine">Dailuaine</a></li>
	    <li><a href="/whisky/daftmill">Daftmill</a></li>
	    <li><a href="/whisky/dalmore">Dalmore</a></li>
	    <li><a href="/whisky/dalwhinnie">Dalwhinnie</a></li>
	    <li><a href="/whisky/deanston">Deanston</a></li>
	    <li><a href="/whisky/dufftown">Dufftown</a></li>
	    <li><a href="/whisky/edradour">Edradour</a></li>
	    <li><a href="/whisky/fettercairn">Fettercairn</a></li>
	    <li><a href="/whisky/glenallachie">Glenallachie</a></li>
	    <li><a href="/whisky/glenburgie">Glenburgie</a></li>
	    <li><a href="/whisky/glencadam">Glencadam</a></li>
	    <li><a href="/whisky/glen-deveron">Glen Deveron</a></li>
	    <li><a href="/whisky/glendronach">Glendronach</a></li>
	    <li><a href="/whisky/glendullan">Glendullan</a></li>
	    <li><a href="/whisky/glenelgin">Glen Elgin</a></li>
	    <li><a href="/whisky/glenfarclas">Glenfarclas</a></li>
	    <li><a href="/whisky/glenfiddich">Glenfiddich</a></li>
	    <li><a href="/whisky/glen-garioch">Glen Garioch</a></li>
	    <li><a href="/whisky/glenglassaugh">Glenglassaugh</a></li>
	    <li><a href="/whisky/glengoyne">Glengoyne</a></li>
	    <li><a href="/whisky/glen-grant">Glen Grant</a></li>
	    <li><a href="/whisky/glenkinchie">Glenkinchie</a></li>
	    <li><a href="/whisky/glenlivet">Glenlivet</a></li>
	    <li><a href="/whisky/glenlossie">Glenlossie</a></li>
	    <li><a href="/whisky/glenmorangie">Glenmorangie</a></li>
	    <li><a href="/whisky/glen-moray">Glen Moray</a></li>
	    <li><a href="/whisky/glen-ord">Glen Ord</a></li>
	    <li><a href="/whisky/glenrothes">Glenrothes</a></li>
	    <li><a href="/whisky/glen-scotia">Glen Scotia</a></li>
	    <li><a href="/whisky/glenspey">Glen Spey</a></li>
	    <li><a href="/whisky/glentauchers">Glentauchers</a></li>
	    <li><a href="/whisky/glenturret">Glenturret</a></li>
	    <li><a href="/whisky/highland-park">Highland Park</a></li>
	    <li><a href="/whisky/inchgower">Inchgower</a></li>
	    <li><a href="/whisky/inchmurrin">Inchmurrin</a></li>
	    <li><a href="/whisky/isle-of-jura">Isle Of Jura</a></li>
	    <li><a href="/whisky/kilchoman">Kilchoman</a></li>
	    <li><a href="/whisky/kilkerran">Kilkerran</a></li>
	    <li><a href="/whisky/kininvie">Kininvie</a></li>
	    <li><a href="/whisky/knockando">Knockando</a></li>
	    <li><a href="/whisky/lagavulin">Lagavulin</a></li>
	    <li><a href="/whisky/laphroaig">Laphroaig</a></li>
	    <li><a href="/whisky/ledaig">Ledaig</a></li>
	    <li><a href="/whisky/linkwood">Linkwood</a></li>
	    <li><a href="/whisky/loch-lomond">Loch Lomond</a></li>
	    <li><a href="/whisky/longmorn">Longmorn</a></li>
	    <li><a href="/whisky/longrow">Longrow</a></li>
	    <li><a href="/whisky/macallan">Macallan</a></li>
	    <li><a href="/whisky/macduff">Macduff</a></li>
	    <li><a href="/whisky/mannochmore">Mannochmore</a></li>
	    <li><a href="/whisky/miltonduff">Miltonduff</a></li>
	    <li><a href="/whisky/mortlach">Mortlach</a></li>
	    <li><a href="/whisky/oban">Oban</a></li>
	    <li><a href="/whisky/old-pulteney">Old Pulteney</a></li>
	    <li><a href="/whisky/pittyvaich">Pittyvaich</a></li>
	    <li><a href="/whisky/roseisle">Roseisle</a></li>
	    <li><a href="/whisky/royal-brackla">Royal Brackla</a></li>
	    <li><a href="/whisky/royal-lochnagar">Royal Lochnagar</a></li>
	    <li><a href="/whisky/scapa">Scapa</a></li>
	    <li><a href="/whisky/speyburn">Speyburn</a></li>
	    <li><a href="/whisky/speyside">Speyside</a></li>
	    <li><a href="/whisky/springbank">Springbank</a></li>
	    <li><a href="/whisky/strathisla">Strathisla</a></li>
	    <li><a href="/whisky/strathmill">Strathmill</a></li>
	    <li><a href="/whisky/talisker">Talisker</a></li>
	    <li><a href="/whisky/tamdhu">Tamdhu</a></li>
	    <li><a href="/whisky/tamnavulin">Tamnavulin</a></li>
	    <li><a href="/whisky/teaninich">Teaninich</a></li>
	    <li><a href="/whisky/tobermory">Tobermory</a></li>
	    <li><a href="/whisky/tomatin">Tomatin</a></li>
	    <li><a href="/whisky/tomintoul">Tomintoul</a></li>
	    <li><a href="/whisky/tormore">Tormore</a></li>
	    <li><a href="/whisky/tullibardine ">Tullibardine </a></li>
	</ul>
</form>


<div class="slider">
    <ul class="slides">
      <li>
        <img src="https://farm<%= result.photos.photo[1].farm %>.staticflickr.com/<%= result.photos.photo[1].server %>/<%= result.photos.photo[1].id %>_<%= result.photos.photo[1].secret %>.jpg"> <!-- random image -->
       </li>
      <li>
        <img src="https://farm<%= result.photos.photo[2].farm %>.staticflickr.com/<%= result.photos.photo[2].server %>/<%= result.photos.photo[2].id %>_<%= result.photos.photo[2].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[3].farm %>.staticflickr.com/<%= result.photos.photo[3].server %>/<%= result.photos.photo[3].id %>_<%= result.photos.photo[3].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[4].farm %>.staticflickr.com/<%= result.photos.photo[4].server %>/<%= result.photos.photo[4].id %>_<%= result.photos.photo[4].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[5].farm %>.staticflickr.com/<%= result.photos.photo[5].server %>/<%= result.photos.photo[5].id %>_<%= result.photos.photo[5].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[6].farm %>.staticflickr.com/<%= result.photos.photo[6].server %>/<%= result.photos.photo[6].id %>_<%= result.photos.photo[6].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[7].farm %>.staticflickr.com/<%= result.photos.photo[7].server %>/<%= result.photos.photo[7].id %>_<%= result.photos.photo[7].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[8].farm %>.staticflickr.com/<%= result.photos.photo[8].server %>/<%= result.photos.photo[8].id %>_<%= result.photos.photo[8].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[9].farm %>.staticflickr.com/<%= result.photos.photo[9].server %>/<%= result.photos.photo[9].id %>_<%= result.photos.photo[9].secret %>.jpg"> <!-- random image -->
      </li>
      <li>
        <img src="https://farm<%= result.photos.photo[10].farm %>.staticflickr.com/<%= result.photos.photo[10].server %>/<%= result.photos.photo[10].id %>_<%= result.photos.photo[10].secret %>.jpg"> <!-- random image -->
      </li>
    </ul>
</div>

<!-- Scrapped information on ages and tasting notes -->
<h5>Bottlings - </h5><br><p><% for (var key in bottlings){ %>
									<p><%= bottlings[key].textContent %></p>
						    <% } %><br>
<h5>Tastings - </h5><br><p><%= tastings %></p>
